/* for future integration */
@import url("../vendor/bootstrap/css/bootstrap.min.css");
@import url("../vendor/font-awesome/css/all.min.css");
@import url("../vendor/magnific-popup/magnific-popup.min.css");
@import url("../vendor/highlight.js/styles/github.css");
/* @import url('./main.3f6952e4.css'); */
@import url("./stylesheet.css");
@import url("./lang.css");
@import url("./side-bar.css");
